# at least
*.aux
*.pdf
!images/*.pdf
!rapport.pdf
*.ps
*.log
*.dvi
*.tex~
*.DS_Store

# Table of contents
*.toc 

# then
*.fls
*.fdb_latexmk
*.blg
*.glsdefs
*.ist
*.gz
*.out
*.glo
*.log.txt
*.synctex
*.bbl